h1{
text-align: center;
  color: #913535;
  text-decoration: underline;
}
h2{
  color: #1b335f;
  text-align: center;
  text-decoration: underline;
}
.me{
  color: salmon;
}
.education{
  font-style: italic;
}
img{
  float: left;
}
.sidebar{
  width: 20%;
  float: right;
  background-color: pink;
}

.jumbotron{
  background-color: #fed9ca;
}
.well{
  background-color: #fed9ca;
}
body{
  background-color: #8fbbaf;
}
#photo{
  padding-top: 40px;
}
