h1{
  text-align: center;
  color: darkred;
}
h2{
  color: pink;
  text-align: center;
}
.me{
  color: salmon;
}
.education{
  font-style: italic;
}
img{
  float: right;
}
.sidebar{
  width: 20%;
  float: right;
  background-color: pink;
}
.text-box{
  border: 2px solid red;
}
